body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.city-show {
  padding: 10px 50px 10px 50px;
}

.city-cover {
  object-fit: cover;
  object-position: 50% 35%;
  width: 100%;
  height: 100%;
}

.excursion-card {
  height: 250px;
  width: 250px;
}

.excursion-card-img {
  object-fit: cover;
  height: 80%;
}
